.projects {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projects__title {
        text-align: center;
        font-size: 52px;
        color: #fafafa;
        margin: 0;
    }

    .projects__subtitle {
        color: #ede2ff;
        font-size: 24px;
        font-weight: 200;
        margin-top: 25px;
        margin-bottom: 50px;
        text-align: center;
        width: 70%;
    }
}