.admin-news-item {
    background-color: #bfbfbf;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-end;
    height: 180px;
    width: 640px;
    
    .admin-news-item__main {
        position: relative;
        width: 620px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        .admin-news-item__heading {
            width: 100%;
            font-size: 18px;
            font-weight: 600;
            padding: 0;
            margin: 0;            
        }
        
        .admin-news-item__content {
            height: 80px;
            margin-top: 5px;
            width: calc(100% - 20px);
            margin-left: 10px;
            overflow-y: auto;
        }
        
        .admin-news-item__meta {
            display: flex;
            justify-content: space-between;
            width: 100%;
            
            .admin-news-item__author {
                font-size: 14px;
            }

            .admin-news-item__date {
                font-size: 14px;
            }
        }
    }

    .admin-news-item__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 5px;
        height: 40px;
        width: 640px;
        background-color: #afafaf;

        .admin-news-item__delete-button {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
            transition: .3s ease;
            background-color: #ffacac60;
            font-size: 14px;
            color: #2c2c2c;
            cursor: pointer;

            &:hover {
                background-color: #ffacac80;
                color: #1c1c1c;
            }
        }
        
        .admin-news-item__edit-link {
            //position: absolute;
            font-size: 14px;
            margin-right: 10px;
            text-decoration: none;
            color: #2c2c2c;
            border-radius: 5px;
            background-color: #e7e7e760;
            padding: 5px 10px;
            transition: .3s ease;
            
            &:hover {
                background-color: #e7e7e780;
                color: #1c1c1c;
            }
        }
    }
}