.news-preview {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 280px;
    margin-bottom: 40px;
    background-color: #efefef08;
    padding: 20px 40px;

    .news-preview__title {
        font-size: 20px;
        font-weight: 500;
        color: #efefef;
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .news-preview__content {
        color: #efefefa0;
        background-color: #0000001f;
        padding: 15px 20px;
        font-size: 14px;
        border-radius: 0px;
        height: calc(60% - 30px);
    }

    .news-preview__author {
        position: absolute;
        color: #d6d6d6;
        margin: 0;
        left: 20px;
        bottom: 20px;
    }
    

    .news-preview__date {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 14px;
        color: #afafafa0;
    }
}