$primary: #ff7a3c;

$admin-primary: #f1895f;
$admin-primary-active: #ff723a;

$font-main: 'Montserrat', sans-serif;

// Index Page
$top-top-color: #2e1d79;
$top-highest-color: #342575;
$top-higher-color: #3c2a6e;
$top-middle-top-color: #502672;
$top-middle-bottom-color: #7a247a;
$top-lower-color: #943277;
$top-lowerst-color: #bb4e7b;