@import './variables';
@import './common/common';
@import './index/index';
@import './media/media';
@import './news/news';
@import './projects/projects';
@import './about/about';
@import './no-match';
@import './admin/admin';

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: none;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;                  
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

h1, h2, h3, h4, h5, h6, p, a, code, span, label, input {
    -webkit-font-smoothing: none;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #323262;
    font-family: 'Montserrat', sans-serif;
}

.fade-enter {
    opacity: 0.01;
    transform: translateY(50%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: .3s ease;
}

.fade-exit {
    transform: translateY(0%);
    opacity: 1;
}

.fade-exit-active {
    transform: translateY(-50%);
    opacity: 0.01;
    transition: .3s ease;
}